<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <img class="icon" src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e0/WPVG_icon_2016.svg/1024px-WPVG_icon_2016.svg.png">
    <a href="/games" <%- title === 'All GAMES' ? 'class="active"' : '' %>>ALL GAMES</a>
    <% if (user) { %>
      <a href="/error"	<%- title === 'Filler Link' ? 'class="active"' : '' %>>
      Filler Link</a>
      <a href="/games/new" <%- title === 'Add Game' ? 'class="active"' : '' %>>ADD GAME</a>
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN</a>
    <% } %>
  </nav>
  <main>
    <h1><%= title %></h1>