<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= game.title %></div>
  <div>Genre: </div>
  <div><%= game.genre %></div>
</section>

<br>

<h1>Screenshots</h2>

<!-- <p>Upload</p>
      <form method="post" action="upload/post" enctype="multipart/form-data">
        <input type="file" name="image" /><br /><br />
        <button type="submit" name="upload">Upload</button>
      </form> -->

<% if (user) { %>
<div>
  <form id="add-screenshot-form" method="POST" action="/games/<%= game._id %>/screenshots">
    <label>IMG Link:</label>
    <textarea rows="1" cols="50" name="photoUrl"></textarea> <br>
    <label>Caption:</label>
    <textarea rows= "4" cols="50" name="caption" class="caption"></textarea>
    <br><br>
    <input type="submit" value="Add Screenshot">
    <br><br>
  </form>
</div>
<% } %>

<section id="screenshotSection">
<% if (game.screenshots.length) { %>
    <% game.screenshots.forEach(function(s) { %>
      <div id="IMGDiv">
      <img id="screenshot-user" src="<%= s.userAvatar %>"><%= s.userName %>
       <%= s.createdAt.toLocaleDateString() %>
        <div class="imgCapDiv"> <img class="screenshot" src="<%= s.photoUrl %>">
        <div class="caption"><%= s.caption %></div>
      </div>
        <div>
          <% if (user && user._id.equals(s.user)) { %>
            <form action="/screenshots/<%= s._id %>?_method=DELETE" method="POST">
              <button type="submit">Delete</button>
            </form>

            <% if (s.user.equals(user._id)) { %>
              <a href="/screenshots/<%= s._id %>/edit">Edit</a>
            <% } %>

            <br>
          <% } %>
        </div>
      </div>
      <% }); %>

  <% } else { %>
    <h3>No Screenshots Yet :( <br> Be the first to add one!</h3>
  <% } %>
</section>

<!-- <div id="IMGDiv" >
    <img src="/images/ExzYTbrWEAE6VRi.jpeg" alt="testimg1">
    <img src="/images/Ewopr9wW8AoZHay.jpeg" alt="testimg2">
    <img src="/images/EwodEeRXAAkTbi5.jpeg" alt="testimg3">
</div>  -->

<%- include('../partials/footer') %>